target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/.idea/
*.iml
**/nbproject/**
**/nbactions.xml
**/nb-configuration.xml
/bin/
.project
.classpath
.settings/
.checkstyle
hs_err*.log
/documentation/static
/documentation/site
.DS_Store
pgdeploy/src/test/resources/cluster/global
pgdeploy/src/test/resources/cluster/pg_stat
pgdeploy/src/test/resources/cluster/pg_xlog
pgdeploy/src/test/resources/cluster/pg_clog
pgdeploy/src/test/resources/cluster/base
pgdeploy/src/test/resources/cluster/pg_commit_ts/
pgdeploy/src/test/resources/cluster/pg_dynshmem/
pgdeploy/src/test/resources/cluster/pg_logical/
pgdeploy/src/test/resources/cluster/pg_replslot/
pgdeploy/src/test/resources/cluster/pg_multixact/
pgdeploy/src/test/resources/cluster/pg_notify/
pgdeploy/src/test/resources/cluster/pg_serial/
pgdeploy/src/test/resources/cluster/pg_snapshots/
pgdeploy/src/test/resources/cluster/pg_subtrans/
pgdeploy/src/test/resources/cluster/pg_stat_tmp/
pgdeploy/src/test/resources/cluster/pg_tblspc/
pgdeploy/src/test/resources/cluster/pg_twophase/
pgdeploy/src/test/resources/installationExtra/extra/
pgdeploy/src/test/resources/stdErrCluster/
pgdeploy/src/test/resources/stdOutCluster/base/
pgdeploy/src/test/resources/stdOutCluster/pg_commit_ts/
pgdeploy/src/test/resources/stdOutCluster/pg_dynshmem/
pgdeploy/src/test/resources/stdOutCluster/pg_logical/
pgdeploy/src/test/resources/stdOutCluster/pg_replslot/
pgdeploy/src/test/resources/stdOutCluster/pg_serial/
pgdeploy/src/test/resources/stdOutCluster/pg_snapshots/
pgdeploy/src/test/resources/stdOutCluster/pg_stat/
pgdeploy/src/test/resources/stdOutCluster/pg_stat_tmp/
pgdeploy/src/test/resources/stdOutCluster/pg_subtrans/
pgdeploy/src/test/resources/stdOutCluster/pg_tblspc/
pgdeploy/src/test/resources/stdOutCluster/pg_twophase/
pgdeploy/src/test/resources/stdOutCluster/pg_xlog/
